/* .banner {
    color: white;
    object-fit: contain;
    height: 448px;
} */
/* 스타일드 컴포넌트로 적용했음 */

/* bem 방법론 */

/* element */
.banner__contents {
    margin-left: 40px;
    padding-top : 140px;
    height: 190px;
}

/* element */
.banner__title {
    font-size : 3rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}

/* element */
.banner__buttons {
    display: flex;
    flex-direction: row;
}

/* element */
.banner__button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.4rem 1.8rem 0.4rem 1rem;
    margin-right: 1rem;
  }

  .banner__button:hover {
    color: #000;
    background-color: rgba(170, 170, 170, 0.9);
    transition: all 0.2s;
  }

  /* modified */
  .play {
    background-color: white;
    color: black;
  }
  .info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
  }
  .info:hover {
    background-color: rgb(74, 74, 74);
    color: white;
  }

  /* modified */
  .fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }